{% extends 'base.html' %} {% load static %} {% block content %}
<div>
    <div class="row">
        <div class="col">
            <center><img class="profile-image responsive" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/56759172_2803107366382464_5543785975693443072_n.jpg?_nc_cat=106&_nc_ht=scontent.fcgk4-2.fna&oh=75dbfa26053490e54e6d999633e9b50d&oe=5D3F51E7" alt="profilepic"></center>
            <div>
                <center><button id="magic-btn" type="button" class="change-theme btn btn-default" title="Magic button">Poof!</button></center>
            </div>
            <div>
                <center><button id="subs-btn" type="button" class="btn btn-default">
            <a href="/register">Subscribe</a>
          </button></center>
            </div>
            <h4 id="" class="my-name">
                <center><strong>NUR NISRINA NINGRUM</strong></center>
            </h4>
            <h6 id="" class="string">
                <center>A Computer Science student at University of Indonesia</center>
                <center>+6289601438752</center>
            </h6><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="accordion" id="exp">EXPERIENCE</button>
            <div class="panel">
                <button class="accordion">Organization</button>
                <div class="panel name-year-etc">
                    <h6><strong>Teater Kaca</strong><br>2014 – 2017<br>As member, treasurer
                        <br><strong>Smada Robotic Club</strong><br>2014 – 2016<br>As member, secretary
                        <br><strong>Riset dan Teknologi</strong><br>2018 – now<br>As HR staff</h6>
                </div>
                <button class="accordion">Committee</button>
                <div class="panel name-year-etc">
                    <h6><strong>ALFABETA (A Social Project)</strong><br>As treasurer, 2017
                        <br><strong>WISUDA GANJIL</strong><br>As liaison officer (staff), 2017
                        <br><strong>Computers Get Together</strong><br>As fundraising committe (staff), 2018
                        <br><strong>COMPFEST X</strong><br>As administrator, CP at Competitive Programming Competition, 2018</h6>
                </div>
                <button class="accordion">Work</button>
                <div class="panel name-year-etc">
                    <h6><strong>Content Collision</strong><br>2018 – now<br>As digital strategist intern</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <button class="accordion">EDUCATION</button>
            <div class="panel name-year-etc">
                <button class="accordion">Informal</button>
                <div class="panel name-year-etc">
                    <h6><strong>LBPP LIA Depok</strong><br>2015 – 2017<br>
                        <strong>BIMBEL SALEMBA GROUP</strong><br>2016 – 2017</h6>
                </div>
                <button class="accordion">Formal</button>
                <div class="panel name-year-etc">
                    <h6><strong>SDN TUGU 10</strong><br>2005 – 2011<br>
                        <strong>SMPN 103 Jakarta</strong><br>2011 – 2014<br><br>
                        <strong>SMAN 2 Depok</strong><br>2014 – 2017<br>
                        <strong>Faculty of Computer Science (University of Indonesia)</strong><br>2017 – now</h6>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock content %}