{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col">
  <section name="form">
    <h4 class="title-page">Registration Form</h4>
    <form class="string"  id="register_form">
      {% csrf_token %}
      {{ register_form }}
      <br>
      <button id="signup-btn" type="submit" class="btn btn-default">Sign me up!</button>
    </form>
  </section>
</div>
<!-- 
{% block additional_script %}
  <script src="{% static 'js/registerscript.js' %}"></script>
{% endblock %} -->

{% endblock content %}
